form {
  margin: 0 auto;
  padding: 2% 0;
  width: 30%;
}
input, label {
  display: inline-block;
  text-align: left;
  margin: 1%;
  width: 47%;
}
label {
  font-weight: bold;
}
.clear {
  clear: both;
}
fieldset {
  background-color: #CCC;
  border-radius: 20px;
  color: navy;
  margin: 2px;
  width: 100%;
}
legend {
  color: red;
    font-weight: bold;
    font-size: 25px;
    width: 100%;
    float: left;
    padding: 2px;
}
a:link{
  color: #18b1ee;
}
a:visited{
  color: pink;
}
select{
  margin: 1%;
}